* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: black;
}

.logo {
    width: 15%;
    height: 100vh;
    padding: 40px 20px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo span:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo h6 {
    text-align: center;
}

.logo img {
    width: 30%;
    height: 30%;
    border-radius: 50%;
}

.logo h5 {
    margin-top: 5px;
    margin-bottom: 30px;
    font-weight: 700;
}

.logo p {
    font-weight: 600;
}

.sub-main {
    padding-left: 15px;
    font-size: 14px;
    font-weight: 400;
}

.plan {
    width: 37%;
    padding: 40px;
    background-color: rgb(21, 255, 0);
}
.first-plan {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.first-plan span:last-child {
    /* display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding: 20px; */
    /* width: 10%; */
    /* background-color: black;
    color: white; */
    /* border-radius: 50%; */
}
.second-plan {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.second-plan img{
    width: 30%;
}
/* plan grid */
.plan-parent {
    margin-top: 20px;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.p1 {
    background-image: url(./img/plan1.jpg);
    background-size: cover;
    /* background-position: center; */
    grid-area: 1 / 1 / 3 / 3;
}
.p2 {
    background-image: url(./img/plan2.jpg);
    background-size: cover;
    background-position: center;
    grid-area: 3 / 1 / 6 / 2;
}
.p3 {
    background-image: url(./img/plan3.jpg);
    background-size: cover;
    background-position: center;
    grid-area: 3 / 2 / 6 / 3;
}



















.monthly {
    width: 37%;
    padding: 40px;
    background-color: rgb(255, 187, 0);
}

.profile {
    width: 10%;
    padding: 40px 20px;
    background-color: rgb(98, 0, 255);
}














@media(max-width:786px) {
    .logo {
        padding: 0px;
        height: auto;
        width: 100%;
    }

    .logo h6 {
        display: none;
    }
    .plan{
        width: 100%;
        padding: 30px;
       
    }
    .plan h3{
        font-size: 17px;
    }
    .first-plan span:last-child , .second-plan img , .p2 , .p3{
        display: none;
    }
}
@media(max-width:562px){
    .p1{
        display: none;
    }
}
@media (max-width:1024px) {
    .p2 , .p3{
        display: none;
    }
}